{% extends 'shopapp/base.html' %}

{% block title %}
    Shop title
{% endblock %}

{% block body %}
    <h1>Shop body</h1>

    <div>
        <ul>
            {% for name, price in products %}
                <li>{{ name|capfirst }} for ${{ price|floatformat:'2' }}</li>
                {% if name|length_is:'7' %}
                	Lucky product!
                {% endif %}
                {% if price == 499.99 %}
                	<span style="background-color: crimson">Action!!!</span>
                {% endif %} 
                {% empty %}
                    No products here
            {% endfor %}

        </ul>
    </div>

    <div>
        {% lorem 3 p random %}
    </div>

{% endblock %}